<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--
      icon-->
      <link rel="apple-touch-icon" sizes="57x57" href="indexLib/imgs/icon/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="indexLib/imgs/icon/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="indexLib/imgs/icon/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="indexLib/imgs/icon/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="indexLib/imgs/icon/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="indexLib/imgs/icon/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="indexLib/imgs/icon/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="indexLib/imgs/icon/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="indexLib/imgs/icon/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="indexLib/imgs/icon/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="indexLib/imgs/icon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="indexLib/imgs/icon/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="indexLib/imgs/icon/favicon-16x16.png">
      <link rel="manifest" href="indexLib/imgs/icon/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="indexLib/imgs/icon/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">
    <!---->

    <title>SIF- CAN 2023</title>

    <link href="indexLib/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="indexLib/assets/css/animate.css" rel="stylesheet">
    <link href="indexLib/assets/css/plugins.css" rel="stylesheet">

    <link href="indexLib/assets/css/style.css" rel="stylesheet">

    <link href="indexLib/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="indexLib/assets/css/pe-icons.css" rel="stylesheet">

</head>

<body id="page-top" class="index">

    <div class="master-wrapper">

        <div class="preloader">
            <div class="preloader-img">
                <span class="loading-animation animate-flicker"><img src="indexLib/assets/img/loading.GIF" alt="loading"/></span>
            </div>
        </div>

        <nav class="navbar navbar-default navbar-fixed-top fadeInDown" data-wow-delay="0.5s">
            <div class="top-bar smoothie hidden-xs">
                <div class="container">
                    <div class="clearfix">
                        <ul class="list-inline social-links wow pull-left" style="size: 25px;">
                            <li>
                                <a href="#"><i class="fa fa-twitter" style="color: rgb(13, 173, 221);"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram" style="color: rgb(236, 11, 199);"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook" style="color: rgb(7, 131, 202);"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-whatsapp" style="color: rgb(15, 240, 15);"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-cc-visa" style="color: darkslategray;"></i></a>
                            </li>
                        </ul>

                        <div class="pull-right text-right">
                            <ul class="list-inline">
                                <li>
                                    <div><i class="fa fa-envelope-o " style="size: 25px;"></i> email@domain.com</div>
                                </li>
                                <li>
                                    <div class="meta-item"><i class="fa fa-mobile"></i> (+225) </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                        <span class="sr-only">navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="main-navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Accueil <span class="pe-7s-angle-down"></span>
                                <ul class="dropdown-menu">
                                    <li><a href="/Tribune_Standard">Standard</a></li>
                                    <li><a href="/Tribune_Vip">Vip</a></li>
                                    <li><a href="/Tribune_Pre">Premium</a></li>
                                </ul>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"> R&eacute;servation <span class="pe-7s-angle-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Hotel">Hotels</a></li>
                                <li><a href="/Restaurant">Restaurations</a></li>
                                <li><a href="/Ticket">Tickets</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown"></a>
                        </li>
                        <li><a href="#search"><i class="pe-7s-search"></i></a></li>
                        <li><a href="javascript:void(0);" class="side-menu-trigger hidden-xs"><i class="fa fa-bars"></i></a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div id="search-wrapper">
            <button type="button" class="close">×</button>
            <div class="vertical-center text-center">
                <form>
                    <input type="search" value="" placeholder="Entrez le theme chercher" />
                    <button type="submit" class="btn btn-primary btn-white">Recherche</button>
                </form>
            </div>
        </div>

        <!-- Header -->
        <header id="headerwrap" class="dark-wrapper backstretched special-max-height no-overlay">
            <div class="container vertical-center">
                <div class="intro-text vertical-center text-left smoothie">
                    <div class="intro-heading wow fadeIn heading-font" style="text-align: center; color: orange;" data-wow-delay="0.2s">CAN 2023</div>
                    <div class="intro-sub-heading wow fadeIn secondary-font" data-wow-delay="0.4s" style="text-align: center;">Coupe d'Afrique des Nations ==> <span class="rotate" style="color:green; text-transform: uppercase;">  organis&eacute; en C&ocirc;te d'Ivoire , en 2023 , &Eacute;venements ph&eacute;nom&eacute;nal</span></div>
                </div>
            </div>
        </header>

        <!--affichage matchs-->

        <div>
            <h1 style="text-align: center;"> INFOS CAN  :  <span class="rotate1" style="size: 15px; color: rgb(1, 24, 1);"> Matchs, Actualit&eacute;s, Classements, Joueurs, D&eacute;tails des matchs, Matchs &agrave; venir </span> </h1>
        </div>

        <!--AFFICHAGE DES MATCHS-->

        <section class="match-section set-bg" style=" background-image: url('indexLib/imgs/soccer.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;" data-setbg="indexLib/imgs/cup.jpg">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="ms-content">
                          <h4>Resultat</h4>
                          <div class="mc-table">
                              <table>
                                  <tbody>
                                      <tr>
                                          <td class="left-team">
                                              <img src="indexLib/drap/afrikSud.jpg" alt="drapeau">
                                              <h6>-</h6>
                                          </td>
                                          <td class="mt-content">
                                              <div class="mc-op">- vs -</div>
                                              <h4>1 : 2</h4>
                                              <div class="mc-op"> </div>
                                          </td>
                                          <td class="right-team">
                                              <img src="indexLib/drap/angola.png" alt="drapeau">
                                              <h6>-</h6>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <div class="mc-table">
                              <table>
                                  <tbody>
                                      <tr>
                                          <td class="left-team">
                                              <img src="indexLib/drap/ci.png" alt="drapeau">
                                              <h6>-</h6>
                                          </td>
                                          <td class="mt-content">
                                              <div class="mc-op">- vs -</div>
                                              <h4>3 : 0</h4>
                                              <div class="mc-op"></div>
                                          </td>
                                          <td class="right-team">
                                              <img src="indexLib/drap/congo.png" alt="drapeau">
                                              <h6>-</h6>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <div class="mc-table">
                              <table>
                                  <tbody>
                                      <tr>
                                          <td class="left-team">
                                              <img src="indexLib/drap/ethiopi.png" alt="drapeau">
                                              <h6>-</h6>
                                          </td>
                                          <td class="mt-content">
                                              <div class="mc-op">- vs -</div>
                                              <h4>0 : 0</h4>
                                              <div class="mc-op"></div>
                                          </td>
                                          <td class="right-team">
                                              <img src="indexLib/drap/gabon.jpg" alt="drapeau">
                                              <h6 class="mi-right">-</h6>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="ms-content">
                          <h4> Matchs Du Jour</h4>
                          <div class="mc-table">
                              <table>
                                  <tbody>
                                      <tr>
                                          <td class="left-team">
                                              <img src="indexLib/drap/gha.jpg" alt="drapeau">
                                              <h6>-</h6>
                                          </td>
                                          <td class="mt-content">
                                              <div class="mc-op">- 18/02/2023  18H -</div>
                                              <h4>VS</h4>
                                              <div class="mc-op"></div>
                                          </td>
                                          <td class="right-team">
                                              <img src="indexLib/drap/guin.jpg" alt="drapeau">
                                              <h6>-</h6>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <div class="mc-table">
                              <table>
                                  <tbody>
                                      <tr>
                                          <td class="left-team">
                                              <img src="indexLib/drap/mali.png" alt="drapeau">
                                              <h6>-</h6>
                                          </td>
                                          <td class="mt-content">
                                              <div class="mc-op">- 20/03/2023  14H -</div>
                                              <h4>VS</h4>
                                              <div class="mc-op"></div>
                                          </td>
                                          <td class="right-team">
                                              <img src="indexLib/drap/niger.jpg" alt="drapeau">
                                              <h6>-</h6>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <div class="mc-table">
                              <table>
                                  <tbody>
                                      <tr>
                                          <td class="left-team">
                                              <img src="indexLib/drap/nigria.png" alt="drapeau">
                                              <h6>-</h6>
                                          </td>
                                          <td class="mt-content">
                                              <div class="mc-op">- 22/03/2023  14H -</div>
                                              <h4>VS</h4>
                                              <div class="mc-op"></div>
                                          </td>
                                          <td class="right-team">
                                              <img src="indexLib/drap/RDC.png" alt="drapeau">
                                              <h6>-</h6>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>


        <!--FIN-->

        <div>
            <h1 style="text-align: center;"> Voulez-vous vous deplacer t&eacute;l&eacute;charger l'application Yango <a style="color:green" href="https://play.google.com/store/apps/details?id=com.yandex.yango&hl=fr">ICI</a> </h1>

        </div>

        <div id="footer-wrapper" class="footer-image-bg">


            <footer class="white-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-left match-height">
                            <ul class="list-inline social-links wow">
                                <li>
                                    <a href="#"><i class="fa fa-twitter" style="color: rgb(38, 38, 224);"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-pinterest" style="color:rgb(28, 28, 168);"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-instagram" style="color:rgb(238, 4, 43);"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-facebook" style="color:rgb(6, 6, 39);"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-whatsapp" style="color:rgb(1, 17, 1);"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-cc-visa" style="color:rgb(24, 21, 21);"></i></a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-6 text-right match-height">
                            <div class="vertical-center">
                                <span class="copyright" style="color:gold;">Copyright 2023. Designed by SIF</span>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </div>

    <!--page d'affichage sur le cote-->

    <div class="flexpanel">
        <div class="viewport-wrap">
            <div class="viewport">

                <h4 style="color: green;">A propos de la C&ocirc;te d'Ivoire</h4><br>

                <div class="widget about-us-widget mb50">
                    <h4 class="widget-title">La C&ocirc;te d'Ivoire</h4>
                    <div class="media">
                        <div class="pull-left">
                            <img class="widget-img" src="indexLib/imgs/amoire.png" alt="">
                        </div>
                    </div>
                    <p>La Côte d’Ivoire, en forme longue république de Côte d’Ivoire (RCI), est un pays situé en Afrique, sur l'océan Atlantique6, dans la partie occidentale du golfe de Guinée. D’une superficie de 322 462 km2, elle est bordée au nord-nord-ouest par le Mali, au nord-est par le Burkina Faso, à l'est par le Ghana, au sud-ouest par le Liberia, à l'ouest-nord-ouest par la Guinée et au sud par l’océan Atlantique. La population est estimée à 26 594 750 habitants en 20177. La Côte d’Ivoire a pour capitale politique et administrative Yamoussoukro bien que la quasi-totalité des institutions se trouvent à Abidjan, son principal centre économique. Bien qu'elle ait pour langue officielle le français, plus de 60 autres dialectes sont parlés au quotidien.
                        Elle a pour monnaie, le franc CFA. Le pays fait partie de la CEDEAO, de l’Union africaine et de l'Organisation de la coopération islamique.</p>
                </div>

                <div class="widget mb50">
                    <h4 class="widget-title">Divers sites touristiques du pays</h4>
                    <div>
                        <div class="media">
                            <div class="pull-left">
                                <img class="widget-img"  style="height: 50px;" src="indexLib/imgs/Tai.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <span class="media-heading"><a href="#">Parc National de Ta&iuml; </a></span>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <img class="widget-img"  style="height: 50px;" src="indexLib/imgs/comoe.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <span class="media-heading"><a href="#">Parc de la com&oelig; </a></span>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <img class="widget-img"  style="height: 50px;" src="indexLib/imgs/basilik.jpeg" alt="">
                            </div>
                            <div class="media-body">
                                <span class="media-heading"><a href="#">Basilique notre Dame de la Paix</a></span>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <img class="widget-img"  style="height: 50px;" src="indexLib/imgs/banco.jpeg" alt="">
                            </div>
                            <div class="media-body">
                                <span class="media-heading"><a href="#">Parc national du Banco</a></span>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <img class="widget-img"  style="height: 50px;" src="indexLib/imgs/paul.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <span class="media-heading"><a href="#">La Cath&eacute;drale Saint Paul</a></span>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <img class="widget-img" style="height: 50px;" src="indexLib/imgs/musee.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <span class="media-heading"><a href="#">Muse&eacute; des Civilisations de la CI</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="widget about-us-widget mb50">
                    <h4 class="widget-title" style="color: orange;">A propos de la SIF</h4>
                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <script src="indexLib/assets/js/jquery.js"></script>
    <script src="indexLib/assets/js/bootstrap.min.js"></script>
    <script src="indexLib/assets/js/plugins.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="indexLib/assets/js/init.js"></script>
    <script src="indexLib/assets/js/mon.js"></script>
    <script src="indexLib/assets/js/0"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        'use strict';
        jQuery('#headerwrap').backstretch([
            "indexLib/assets/img/bg/bg1.jpg",
            "indexLib/assets/img/bg/bg2.jpg",
            "indexLib/assets/img/bg/support.jpg"
        ], {
            duration: 8000,
            fade: 500
        });
    });
    </script>

</body>

</html>
