<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SIF - Restauration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="restoLib/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="restoLib/css/animate.css">

    <link rel="stylesheet" href="restoLib/css/owl.carousel.min.css">
    <link rel="stylesheet" href="restoLib/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="restoLib/css/magnific-popup.css">

    <link rel="stylesheet" href="restoLib/css/aos.css">

    <link rel="stylesheet" href="restoLib/css/ionicons.min.css">

    <link rel="stylesheet" href="restoLib/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="restoLib/css/jquery.timepicker.css">

    <link rel="stylesheet" href="restoLib/css/bar.css">
    <link rel="stylesheet" href="restoLib/css/flaticon.css">
    <link rel="stylesheet" href="restoLib/css/icomoon.css">
    <link rel="stylesheet" href="restoLib/css/style.css">
  </head>
  <body>

    <section class="">
      <div class="jumbotron bg-secondary">
        <h1 class="display-6 text-center text-capitalize" style="color: orangered;">Liste des meilleurs restaurants en C&ocirc;te d'ivoire!</h1>
        <p class="lead text-center" style="color: green;">Ici vous verrez la liste des meilleurs restaurants en cote d'ivoire.</p>
      </div>
    </section>
    <section>
      <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
          <div class="searchbar">
            <label for="">Entrez la commune </label>
            <input class="search_input" type="text" name="" id="reSearch" placeholder="nom de la commune">
            <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
          </div>
        </div><br><br>
        <ul class="list-group" id="search">
          <li class="list-group-item">
            <a href="/Debarcadere" title="Restaurant le d&eacute;bacard&egrave;re">
              <img src="restoLib/pictures/resto1.jpeg" alt="" style="vertical-align: middle; margin-right:5px">
              <span>Restaurant le d&eacute;bacard&egrave;re &agrave; Treichville</span>
            </a>
          </li>

          <li class="list-group-item">
            <a href="/Saakan" title="Restaurant Saakan">
              <img src="restoLib/pictures/resto2.jpeg" alt="" style="vertical-align: middle; margin-right:5px">
              <span>Restaurant Saakan au Plateau</span>
            </a>
          </li>

          <li class="list-group-item">
            <a href="/Pasta" title="Restaurant Plata e pizza">
              <img src="restoLib/pictures/resto3.jpeg" alt="" style="vertical-align: middle; margin-right:5px">
              <span>Restaurant Pasta e pizza au Plateau</span>
            </a>
          </li>

          <li class="list-group-item">
            <a href="/Croisette" title="Restaurant la croisette">
              <img src="restoLib/pictures/resto4.jpeg" alt="" style="vertical-align: middle; margin-right:5px">
              <span>Restaurant la croisette au Plateau</span>
            </a>
          </li>

          <li class="list-group-item">
            <a href="/Detail_norimax" title="Restaurant Norima">
              <img src="restoLib/pictures/resto5.jpeg" alt="" style="vertical-align: middle; margin-right:5px">
              <span>Restaurant Norima aux Deux Plateaux</span>
            </a>
          </li>

          <li class="list-group-item">
            <a href="" title="Restaurant la Taverne Romaine">
              <img src="restoLib/pictures/resto6.jpeg" alt="" style="vertical-align: middle; margin-right:5px">
              <span>Restaurant la Taverne Romaine &agrave; Cocody</span>
            </a>
          </li>

          <li class="list-group-item">
            <a href="" title="Restaurant Mondial">
              <img src="restoLib/pictures/resto8.jpeg" alt="" style="vertical-align: middle; margin-right:5px">
              <span>Restaurant Mondial au Plateau</span>
            </a>
          </li>

          <li class="list-group-item">
            <a href="" title="Restaurant le Grand large">
              <img src="restoLib/pictures/resto9.jpeg" alt="" style="vertical-align: middle; margin-right:5px">
              <span>Restaurant le Grand large &agrave; Treichville</span>
            </a>
          </li>

          <li class="list-group-item">
            <a href="" title="Restaurant Kajazoma">
              <img src="restoLib/pictures/resto10.jpeg" alt="" style="vertical-align: middle; margin-right:5px">
              <span>Restaurant Kajazoma &Agrave; aux Deux Plateaux</span>
            </a>
          </li>

          <li class="list-group-item">
            <a href="" title="Restaurant Jardyland">
              <img src="restoLib/pictures/resto7.jpeg" alt="" style="vertical-align: middle; margin-right:5px">
              <span>Restaurant Jardyland aux Deux Plateaux</span>
            </a>
          </li>

          <li class="list-group-item">
            <a href="" title="Restaurant le Jardin Gourmand">
              <img src="restoLib/pictures/resto11.jpeg" alt="" style="vertical-align: middle; margin-right:5px">
              <span>Restaurant le Jardin Gourmand</span>
            </a>
          </li>

          <li class="list-group-item">
            <a href="" title="Restaurant Villa Savoia">
              <img src="pictures/resto12.jpeg" alt="" style="vertical-align: middle; margin-right:5px">
              <span>Restaurant Villa Savoia</span>
            </a>
          </li>

          <li class="list-group-item">
            <a href="" title="Restaurant chez Arthur">
              <img src="restoLib/pictures/resto13.jpeg" alt="" style="vertical-align: middle; margin-right:5px">
              <span>Restaurant chez Arthur</span>
            </a>
          </li>

          <li class="list-group-item">
            <a href="" title="Restaurant le Michoui">
              <img src="restoLib/pictures/resto14.jpeg" alt="" style="vertical-align: middle; margin-right:5px">
              <span>Restaurant le Michoui</span>
            </a>
          </li>

          <li class="list-group-item">
            <a href="" title="Restaurant Marrouche">
              <img src="restoLib/pictures/resto15.jpeg" alt="" style="vertical-align: middle; margin-right:5px">
              <span>Restaurant Marrouche</span>
            </a>
          </li>

          <li class="list-group-item">
            <a href="" title="Restaurant Nuit de saigon">
              <img src="restoLib/pictures/resto16.jpeg" alt="" style="vertical-align: middle; margin-right:5px">
              <span>Restaurant Nuit de saigon</span>
            </a>
          </li>

          <li class="list-group-item">
            <a href="" title="Restaurant Montparnasse">
              <img src="restoLib/pictures/resto17.jpeg" alt="" style="vertical-align: middle; margin-right:5px">
              <span>Restaurant Montparnasse</span>
            </a>
          </li>

          <li class="list-group-item">
            <a href="" title="Restaurant chez Georges">
              <img src="restoLib/pictures/resto18.jpeg" alt="" style="vertical-align: middle; margin-right:5px">
              <span>Restaurant chez Georges</span>
            </a>
          </li>

          <li class="list-group-item">
            <a href="" title="Restaurant le Maquis val">
              <img src="restoLib/pictures/resto19.jpeg" alt="" style="vertical-align: middle; margin-right:5px">
              <span>Restaurant le Maquis val</span>
            </a>
          </li>

          <li class="list-group-item">
            <a href="" title="Restaurant Regina Margherita">
              <img src="restoLib/pictures/resto20.jpeg" alt="" style="vertical-align: middle; margin-right:5px">
              <span>Restaurant Regina Margherita</span>
            </a>
          </li>

        </ul>
      </div>
    </section><br><br>

    <section>
      <div class="jumbotron bg-dark">
        <h1 class="display-6 text-center text-capitalize icon-restaurant" style="color: rgb(24, 238, 24);"> Bonne d&eacute;gustation </h1>
      </div>
    </section>



  <script src="restoLib/js/jquery.min.js"></script>
  <script src="restoLib/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="restoLib/js/popper.min.js"></script>
  <script src="restoLib/js/bootstrap.min.js"></script>
  <script src="restoLib/js/jquery.easing.1.3.js"></script>
  <script src="restoLib/js/jquery.waypoints.min.js"></script>
  <script src="restoLib/js/jquery.stellar.min.js"></script>
  <script src="restoLib/js/owl.carousel.min.js"></script>
  <script src="restoLib/js/jquery.magnific-popup.min.js"></script>
  <script src="restoLib/js/aos.js"></script>
  <script src="restoLib/js/jquery.animateNumber.min.js"></script>
  <script src="restoLib/js/bootstrap-datepicker.js"></script>
  <script src="restoLib/js/jquery.timepicker.min.js"></script>
  <script src="restoLib/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="restoLib/js/google-map.js"></script>
  <script src="restoLib/js/main.js"></script>
  <script src="restoLib/js/filter.js"></script>

  </body>
</html>
