<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Azenta Template">
    <meta name="keywords" content="Azenta, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>details</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="hotelLib/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="hotelLib/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="hotelLib/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="hotelLib/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="hotelLib/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="hotelLib/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="hotelLib/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="hotelLib/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="hotelLib/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="hotelLib/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>

    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section header-normal/">

        <div class="nav-logo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="logo">
                            <h4 class="text-center">H&ocirc;tels C&Ocirc;TE D'IVOIRE </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Property Section Begin -->
    <section class="property-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="property-sidebar">
                        <h4>Vos go&ucirc;ts</h4>
                        <form action="#" class="sidebar-search">

                            <select>
                                <option value="">Ville</option>
                            </select>
                            <select>
                                <option value="">Commune</option>
                            </select>
                            <select>
                                <option value="">Nombre de lits</option>
                            </select>
                            <select>
                                <option value="">Personnalit&eacute;</option>
                            </select>
                            <div class="price-range-wrap">
                                <div class="price-text">
                                    <label for="priceRangeP">Price:</label>
                                    <input type="text" id="priceRangeP" readonly>
                                </div>
                                <div id="price-range-P" class="slider"></div>
                            </div>
                            <button type="button" class="search-btn">Chercher</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-9">
                    <h4 class="property-title">Proprietes</h4>
                    <div class="property-list">
                        <div class="single-property-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="property-pic">
                                        <img src="indexLib/imgs/pullman/pull2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="property-text">
                                        <button type="button" class="btn btn-primary s-text" data-toggle="modal" data-target="#reservation" data-whatever="Hotel Pullman" data-price="$951.60">Reserver</button>
                                        <h5 class="r-title">H&ocirc;tel Pullman d'Abidjan</h5>
                                        <div class="room-price">
                                            <span>A partir de :</span>
                                            <h4>$ 951.60 </h4>
                                        </div>
                                        <div class="properties-location"><i class="icon_pin"></i> Avenue Abdoulaye Fadiga, Le plateau, 01 BP 2185 Abidjan C&ocirc;te</div>
                                        <ul class="room-features">
                                            <li>
                                                <i class="fa fa-wifi"></i>
                                                <p>Une connexion wifi gratuite</p>
                                            </li>
                                            <li>
                                                <i class="fa fa-bed"></i>
                                                <p>Lit confortable</p>
                                            </li>
                                            <li>
                                                <i class="fa fa-bath"></i>
                                                <p>salle de bain imp&eacute;cable</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-property-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="property-pic">
                                        <img src="indexLib/imgs/pullman/man2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="property-text">
                                        <button type="button" class="btn btn-primary s-text" data-toggle="modal" data-target="#reservation" data-whatever="Grand Hotel" data-price="$485.64">Reserver</button>
                                        <h5 class="r-title">Le Grand H&ocirc;tel d'Abidjan</h5>
                                        <div class="room-price">
                                            <span>A partir de :</span>
                                            <h4>$ 485.64</h4>
                                        </div>
                                        <div class="properties-location"><i class="icon_pin"></i> Rue montigny le plateau Abidjan 01, Le plateau, Abidjan, C&ocirc;te d'Ivoire </div>

                                        <ul class="room-features">
                                            <li>
                                                <i class="fa fa-wifi"></i>
                                                <p>Une connexion wifi gratuite</p>
                                            </li>
                                            <li>
                                                <i class="fa fa-bed"></i>
                                                <p>Lit confortable</p>
                                            </li>
                                            <li>
                                                <i class="fa fa-bath"></i>
                                                <p>salle de bain imp&eacute;cable</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-property-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="property-pic">
                                        <img src="indexLib/imgs/pullman/az1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="property-text">
                                        <button type="button" class="btn btn-primary s-text" data-toggle="modal" data-target="#reservation" data-whatever="Azalai" data-price="$820.34">Reserver</button>
                                        <h5 class="r-title">Azala&iuml; H&ocirc;tel Abidjan</h5>
                                        <div class="room-price">
                                            <span>A partir de :</span>
                                            <p>$ 820.34</p>
                                        </div>
                                        <div class="properties-location"><i class="icon_pin"></i> Boulevard Valerie Giscard d'Estaing, MArcory, Abidjan, C&ocirc;te d'Ivoire </div>

                                        <ul class="room-features">
                                            <li>
                                                <i class="fa fa-wifi"></i>
                                                <p>Une connexion wifi gratuite</p>
                                            </li>
                                            <li>
                                                <i class="fa fa-bed"></i>
                                                <p>Lit confortable</p>
                                            </li>
                                            <li>
                                                <i class="fa fa-bath"></i>
                                                <p>salle de bain imp&eacute;cable</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="property-pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Property Section End -->

    <!--boite modale de reservation-->
    <div id="app">
        <div v-bind:class="[isShowing ? blurClass:'',clearClass]">
            <div class="modal fade" id="reservation" tabindex="-1" role="dialog" aria-label="reservationLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Reservation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Hotels</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>

                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="">Nom</label>
                                <input type="text" class="form-control" name="" id="">
                            </div>
                            <div class="col-md-6">
                                <label for="">Pr&eacute;noms</label>
                                <input type="text" class="form-control" placeholder="votre prenom" name="" id="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Carte de credit</label>
                            <input type="number" class="form-control" placeholder="Numero carte de credit" name="" id="">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button @click="toggleShow" type="submit" class="btn btn-primary">Valider</button>
                    </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <transition enter-active-class="animated zoomIn" leave-active-class="animated zoomOut">
            <model v-if="isShowing" class="modal">
                <button @click="toggleShow">Fermer</button>
            </model>
        </transition>
    </div>
    <!-- p -->
    <!-- Footer Section Begin -->
    <footer class="footer-section set-bg" style="background-color : black;" data-setbg="">
        <div class="container">
            <div class="footer-text bg-black">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-logo">
                            <div class="logo">
                                <a href="#"><img src="" alt=""></a>
                            </div>
                            <p>Inscrivez-vous pour plus de news</p>
                            <form action="#" class="newslatter-form">
                                <input type="text" placeholder="Votre e-mail...">
                                <button type="submit"><i class="fa fa-location-arrow"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-1">
                        <div class="footer-widget">
                            <h4>Localit&eacute;s</h4>
                            <ul>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Plateau</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Treichville</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Cocody</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Koumassi</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="footer-widget">
                            <h4>Social</h4>
                            <ul class="social">
                                <li><i class="ti-facebook"></i> <a href="#">Facebook</a></li>
                                <li><i class="ti-instagram"></i> <a href="#">Instagram</a></li>
                                <li><i class="ti-twitter-alt"></i> <a href="#">Twitter</a></li>
                                <li><i class="ti-google"></i> <a href="#">Google+</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="hotelLib/js/jquery-3.3.1.min.js"></script>
    <script src="hotelLib/js/bootstrap.min.js"></script>
    <script src="hotelLib/js/jquery.magnific-popup.min.js"></script>
    <script src="hotelLib/js/jquery.nice-select.min.js"></script>
    <script src="hotelLib/js/jquery.slicknav.js"></script>
    <script src="hotelLib/js/jquery-ui.min.js"></script>
    <script src="hotelLib/js/owl.carousel.min.js"></script>
    <script src="hotelLib/js/main.js"></script>
    <script src="hotelLib/js/toogle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        $('#reservation').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-title').text('Reservation pour ' + recipient)
            modal.find('.modal-body input').val(recipient)
          })
    </script>
</body>

</html>
