<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Azenta Template">
    <meta name="keywords" content="Azenta, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="hotelLib/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="hotelLib/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="hotelLib/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="hotelLib/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="hotelLib/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="hotelLib/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="hotelLib/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="hotelLib/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="hotelLib/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="hotelLib/css/style.css" type="text/css">

    <!--favicon-->

    <link rel="apple-touch-icon" sizes="57x57" href="indexLib/imgs/icon2/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="indexLib/imgs/icon2/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="indexLib/imgs/icon2/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="indexLib/imgs/icon2/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="indexLib/imgs/icon2/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="indexLib/imgs/icon2/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="indexLib/imgs/icon2/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="indexLib/imgs/icon2/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="indexLib/imgs/icon2/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="indexLib/imgs/icon2/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="indexLib/imgs/icon2/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="indexLib/imgs/icon2/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="indexLib/imgs/icon2/favicon-16x16.png">
    <link rel="manifest" href="indexLib/imgs/icon2/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="indexLib/imgs/icon2/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title> Hotels </title>

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section">

        <div class="nav-logo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="logo">
                            <p>SIF-HOTELS</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hero-items owl-carousel">
            <div class="single-hero-item set-bg" data-setbg="indexLib/imgs/pullman/pull1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="hero-text">
                                <p class="room-location"><i class="icon_pin"></i> Avenue Abdoulaye Fadiga, Le plateau, 01 BP 2185 Abidjan C&ocirc;te </p>
                                <h2>H&ocirc;tel Pullman d'Abidjan</h2>
                                <div class="room-price">
                                    <span>A partir de   :</span>
                                    <p>$ 951.60</p>
                                </div>
                                <ul class="room-features">
                                    <li>
                                        <i class="fa fa-wifi"></i>
                                        <p>Une connexion wifi gratuite</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bed"></i>
                                        <p>Lit confortable</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bath"></i>
                                        <p>salle de bain imp&eacute;cable</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-item set-bg" data-setbg="indexLib/imgs/pullman/gd1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="hero-text">
                                <p class="room-location"><i class="icon_pin"></i> Rue montigny le plateau Abidjan 01, Le plateau, Abidjan, C&ocirc;te d'Ivoire </p>
                                <h2>Le Grand H&ocirc;tel d'Abidjan</h2>
                                <div class="room-price">
                                    <span>A partir de :</span>
                                    <p>$ 485.64</p>
                                </div>
                                <ul class="room-features">
                                    <li>
                                        <i class="fa fa-wifi"></i>
                                        <p>Une connexion wifi gratuite</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bed"></i>
                                        <p>Lit confortable</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bath"></i>
                                        <p>salle de bain imp&eacute;cable</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-item set-bg" data-setbg="indexLib/pullman/az1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="hero-text">
                                <p class="room-location"><i class="icon_pin"></i> Boulevard Valerie Giscard d'Estaing, MArcory, Abidjan, C&ocirc;te d'Ivoire</p>
                                <h2>Azala&iuml; H&ocirc;tel Abidjan</h2>
                                <div class="room-price">
                                    <span>A partir de :</span>
                                    <p>$ 820.34</p>
                                </div>
                                <ul class="room-features">
                                    <li>
                                        <i class="fa fa-wifi"></i>
                                        <p>Une connexion wifi gratuite</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bed"></i>
                                        <p>Lit confortable</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bath"></i>
                                        <p>salle de bain imp&eacute;cable</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="thumbnail-pic">
            <div class="thumbs owl-carousel">
                <div class="item">
                    <img src="indexLib/imgs/pullman/pull1.jpg" alt="">
                </div>
                <div class="item">
                    <img src="indexLib/imgs/pullman/gd1.jpg" alt="">
                </div>
                <div class="item">
                    <img src="indexLib/imgs/pullman/az1.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Search Form Section Begin -->
    <div class="search-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="search-form-text">
                        <div class="search-text">
                            <i class="fa fa-search"></i>
                            Rechercher votre pr&eacute;f&eacute;rence
                        </div>
                        <div class="home-text">
                            <i class="fa fa-home"></i>
                            Chambres &agrave; louer
                        </div>
                    </div>
                    <form action="#" class="filter-form">
                        <div class="first-row">
                            <select>
                                <option value="">Ville</option>
                            </select>
                            <select>
                                <option value="">Commune</option>
                            </select>
                            <select>
                                <option value="">Nombre de lits</option>
                            </select>
                            <select>
                                <option value="">Personnalit&eacute;</option>
                            </select>
                        </div>
                        <div class="second-row">
                            <select>
                                <option value="">Type de chambres</option>
                            </select>
                            <div class="price-range-wrap">
                                <div class="price-text">
                                    <label for="priceRange">Price:</label>
                                    <input type="text" id="priceRange" readonly>
                                </div>
                                <div id="price-range" class="slider"></div>
                            </div>

                            <button type="button" class="search-btn">Chercher</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Form Section End -->
<br><br>
    <div class="d-flex justify-content-center"  style="background-size: 7000px;">
        <button type="submit" class="btn btn-outline-secondary"><a href="/Details">Faites votre r&eacute;servation</a></button>
    </div>

    <!-- How It Works Section Begin -->
    <section class="howit-works spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Pouquoi notre service ?</span>
                        <h2></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-howit-works">
                        <img src="hotelLib/img/howit-works/howit-works-1.png" alt="">
                        <h4>Cherchez et trouvez</h4>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-howit-works">
                        <img src="hotelLib/img/howit-works/howit-works-2.png" alt="">
                        <h4>Votre go&ucirc;t</h4>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-howit-works">
                        <img src="hotelLib/img/howit-works/howit-works-3.png" alt="">
                        <h4>Renseignements</h4>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Video Section Begin -->
    <div class="video-section set-bg" data-setbg="hotelLib/img/video-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="video-text">
                        <a href="https://www.youtube.com/watch?v=g-yymtlxhY0" class="play-btn video-popup"><i class="fa fa-play"></i></a>
                        <h4>Extrait des meilleures hotels en CI</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Section End -->

    <!-- Top Properties Section Begin -->
    <div class="top-properties-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="properties-title">
                        <div class="section-title">
                            <span>  </span>
                        </div>
                        <a href="/Details" class="top-property-all">Voir d&eacute;tails</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="top-properties-carousel owl-carousel">
                <div class="single-top-properties">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="stp-pic">
                                <img src="indexLib/imgs/pullman/pull2.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="stp-text">
                                <h2>H&ocirc;tel Pullman d'Abidjan</h2>
                                <div class="room-price">
                                    <span>A partir de :</span>
                                    <h4>$ 951.60 </h4>
                                </div>
                                <div class="properties-location"><i class="icon_pin"></i> Avenue Abdoulaye Fadiga, Le plateau, 01 BP 2185 Abidjan C&ocirc;te</div>

                                <ul class="room-features">
                                    <li>
                                        <i class="fa fa-wifi"></i>
                                        <p>Une connexion wifi gratuite</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bed"></i>
                                        <p>Lit confortable</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bath"></i>
                                        <p>salle de bain imp&eacute;cable</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-top-properties">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="stp-pic">
                                <img src="indexLib/imgs/pullman/man2.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="stp-text">
                                <h2>Le Grand H&ocirc;tel d'Abidjan</h2>
                                <div class="room-price">
                                    <span>A partir de :</span>
                                    <h4>$ 485.64</h4>
                                </div>
                                <div class="properties-location"><i class="icon_pin"></i> Rue montigny le plateau Abidjan 01, Le plateau, Abidjan, C&ocirc;te d'Ivoire </div>

                                <ul class="room-features">
                                    <li>
                                        <i class="fa fa-wifi"></i>
                                        <p>Une connexion wifi gratuite</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bed"></i>
                                        <p>Lit confortable</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bath"></i>
                                        <p>salle de bain imp&eacute;cable</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Properties Section End -->


    <!-- Footer Section Begin -->
    <footer class="footer-section set-bg" style="background-color : black;" data-setbg="">
        <div class="container">
            <div class="footer-text bg-black">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-logo">
                            <div class="logo">
                                <a href="#"><img src="" alt=""></a>
                            </div>
                            <p>Inscrivez-vous pour plus de news</p>
                            <form action="#" class="newslatter-form">
                                <input type="text" placeholder="Votre e-mail...">
                                <button type="submit"><i class="fa fa-location-arrow"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-1">
                        <div class="footer-widget">
                            <h4>Localit&eacute;s</h4>
                            <ul>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Plateau</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Treichville</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Cocody</a></li>
                                <li><i class="fa fa-caret-right"></i> <a href="#">Koumassi</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="footer-widget">
                            <h4>Social</h4>
                            <ul class="social">
                                <li><i class="ti-facebook"></i> <a href="#">Facebook</a></li>
                                <li><i class="ti-instagram"></i> <a href="#">Instagram</a></li>
                                <li><i class="ti-twitter-alt"></i> <a href="#">Twitter</a></li>
                                <li><i class="ti-google"></i> <a href="#">Google+</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="hotelLib/js/jquery-3.3.1.min.js"></script>
    <script src="hotelLib/js/bootstrap.min.js"></script>
    <script src="hotelLib/js/jquery.magnific-popup.min.js"></script>
    <script src="hotelLib/js/jquery.nice-select.min.js"></script>
    <script src="hotelLib/js/jquery.slicknav.js"></script>
    <script src="hotelLib/js/jquery-ui.min.js"></script>
    <script src="hotelLib/js/owl.carousel.min.js"></script>
    <script src="hotelLib/js/main.js"></script>
</body>

</html>
